Clinica Main.json
{
  "name": "Clinica Main",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b706e9be-d89f-402b-a03d-5e9b37614692",
              "leftValue": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "rightValue": "554884508723",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3584,
        832
      ],
      "id": "8993e52f-dd20-4eb0-bd53-802877b5bcc7",
      "name": "Mensagem do atendente?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.parseJson().intencao }}",
                    "rightValue": "checar_calendario",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "052ff36e-435d-4306-8e64-9edfc4f77d3b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checar_calendario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "501502a0-e814-494e-93cf-f8ba58502d16",
                    "leftValue": "={{ $json.output.parseJson().intencao }}",
                    "rightValue": "cancelar_reuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_reuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "335e86d1-dfb6-433a-acee-b7d0c6a0a5ec",
                    "leftValue": "={{ $json.output.parseJson().intencao }}",
                    "rightValue": "agendar_nova_reuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_nova_reuniao"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6208,
        848
      ],
      "id": "377cfbf9-9e44-45d3-9ab7-930fcedb8c42",
      "name": "checar calendário, agendar reunião ou canelar reunião?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.parseJson().intencao }}",
                    "rightValue": "informacoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "edaa2227-a344-4291-b1af-8373df564226"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "informações"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3217d70-7986-4b5a-8ff4-4f93cfc2c16d",
                    "leftValue": "={{ $json.output.parseJson().intencao}}",
                    "rightValue": "agendamentos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamentos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "168a1bc2-69fe-4dcd-a43d-790b5d83f62c",
                    "leftValue": "={{ $json.output.parseJson().intencao}}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falar_com_humano"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4992,
        832
      ],
      "id": "ebb402ab-e94b-4f6c-89f0-79554f8b2264",
      "name": "informações ou agendamentos?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Identique no contexto da conversa se a intenção se trata de checar calendário, agendar reunião ou cancelar reunião",
        "options": {
          "systemMessage": "=# 🧠 CLASSIFICADOR DE INTENÇÃO – AGENDAMENTO CLÍNICA VIDA PLENA\n\nVocê é um **CLASSIFICADOR DE INTENÇÃO** responsável por analisar exclusivamente a mensagem do cliente e retornar **apenas uma** das três intenções possíveis.\n\n---\n\n# 🚨 REGRAS CRÍTICAS (OBRIGATÓRIAS)\n\n- **Ignore COMPLETAMENTE qualquer memória, histórico, dados anteriores ou instruções vindas do Redis ou de outros agentes.**\n- **NUNCA** crie campos adicionais.\n- **NUNCA** devolva nada além de um único JSON.\n- **NUNCA** responda com frases, explicações ou comentários.\n- **NUNCA** retorne datas, horários ou campos de cadastro.\n- **NUNCA** confirme consultas.\n- **NUNCA** repita qualquer data/hora escrita pelo cliente.\n- **NÃO** invente ou adicione chaves como: `\"nascimento\"`, `\"nome\"`, `\"cpf\"`, `\"cliente\"`, `\"dados\"`, `\"telefone\"`, `\"mensagem\"`.\n\nVocê **SÓ** pode responder exatamente um dos três JSONs abaixo:\n\n{\"intencao\":\"checar_calendario\"}\n{\"intencao\":\"agendar_nova_reuniao\"}\n{\"intencao\":\"cancelar_reuniao\"}\n\nSe você escrever QUALQUER coisa fora disso, considere tudo ERRADO e responda novamente SOMENTE um dos três JSONs acima.\n\n---\n\n# 📚 DEFINIÇÕES DE CADA INTENÇÃO\n\n## 1️⃣ {\"intencao\":\"checar_calendario\"}\n\nUse quando o cliente:\n\n* pede horários disponíveis;\n* pergunta se há disponibilidade;\n* recusa um horário sugerido e pede outro;\n* sugere um horário sem existir sugestão prévia do sistema;\n* envia dados cadastrais (nome, CPF, telefone, plano, médico, data de nascimento, endereço etc.);\n* diz \"pode ser\" ou \"ok\" sem confirmar um horário sugerido antes;\n* deseja agendar algo novo pela primeira vez;\n* ainda não confirmou nenhum horário.\n\n### 🔵 Regra Especial (Obrigatória)\nSe o cliente envia qualquer dado de cadastro, a intenção é sempre:\n\n{\"intencao\":\"checar_calendario\"}\n\nExemplos de dados cadastrais:\n\n* Nome completo\n* CPF\n* Data de nascimento\n* Telefone\n* Plano de saúde\n* Médico de preferência\n* Especialidade\n* Informações pessoais em geral\n\n### 🔵 Exemplos de checar_calendario\n\n* \"Quero marcar uma consulta\"\n* \"Gostaria de agendar uma visita\"\n* \"Tem horário amanhã?\"\n* \"Pode ser às 10?\" (sem sugestão prévia)\n* \"Prefiro semana que vem\"\n* \"Será no particular\"\n* \"Cardiologia\"\n* \"Meu nome é João Carlos\"\n* \"07/06/1986\" ← (caso exato que ocorreu com seu agente)\n\n---\n\n## 2️⃣ {\"intencao\":\"agendar_nova_reuniao\"}\n\nUse apenas quando:\n\n1. O sistema ofereceu horários específicos,  \n2. O cliente confirmou um desses horários oferecidos.\n\n### 🔵 Exemplos válidos\n\n* \"Pode ser às 10h\" (após sugestão do sistema)\n* \"Confirmo o de 14:30\"\n* \"Fechado, às 11h\"\n* \"Aceito esse horário\"\n* \"Pode marcar às 9h mesmo\" (9h estava entre os oferecidos)\n\n⚠️ Se não houve sugestão de horário antes, NÃO use esta intenção.\n\n---\n\n## 3️⃣ {\"intencao\":\"cancelar_reuniao\"}\n\nUse somente quando o cliente já tem consulta marcada e deseja:\n\n* cancelar,\n* desmarcar,\n* cambiar o horário,\n* remarcar,\n* reagendar,\n* transferir,\n* adiar,\n* alterar o horário,\n* informar que não poderá comparecer.\n\n### 🔵 Palavras-chave que indicam consulta existente\n\n* \"minha consulta\"\n* \"a consulta que tenho\"\n* \"meu horário\"\n* \"minha visita\"\n* \"minha avaliação\"\n\n### 🔵 Exemplos válidos\n\n* \"Preciso cancelar minha consulta\"\n* \"Quero remarcar minha consulta\"\n* \"Podemos mudar minha consulta?\"\n* \"Não vou poder ir na consulta do dia 5\"\n* \"Quero alterar o horário da minha consulta\"\n\n---\n\n# ⚖️ REGRA MÁXIMA\n\nSe o cliente enviar um horário, você:\n\n* NÃO deve repetir esse horário,\n* NÃO deve confirmá-lo,\n* NÃO deve devolver datas,\n* NÃO deve usar isso como gatilho automático para agendamento.\n\nClassificação correta:\n\n* Se sugeriu horário sem sugestão prévia → checar_calendario  \n* Se confirmou horário já sugerido pelo sistema → agendar_nova_reuniao\n\n---\n\n# 🧪 EXEMPLOS IMPORTANTES\n\n## Exemplo 1\nCliente: \"Gostaria de agendar uma visita\"  \n→ {\"intencao\":\"checar_calendario\"}\n\n## Exemplo 2\nCliente: \"Pode ser às 10?\"  \n(sistema não sugeriu antes)  \n→ {\"intencao\":\"checar_calendario\"}\n\n## Exemplo 3\nCliente: \"Confirmo o de 15:30\"  \n(sistema sugeriu antes)  \n→ {\"intencao\":\"agendar_nova_reuniao\"}\n\n## Exemplo 4\nCliente: \"Quero reagendar minha consulta\"  \n→ {\"intencao\":\"cancelar_reuniao\"}\n\n## Exemplo 5 — Caso que DEVE funcionar agora\nCliente: \"07/06/1986\"  \n(contexto: cliente apenas respondeu a pergunta de cadastro)  \n→ {\"intencao\":\"checar_calendario\"}\n\n---\n\n# 🔚 OUTPUT FINAL (OBRIGATÓRIO)\n\nVocê SEM EXCEÇÃO deve responder apenas um dos JSONs abaixo:\n\n{\"intencao\":\"checar_calendario\"}\n\n{\"intencao\":\"agendar_nova_reuniao\"}\n\n{\"intencao\":\"cancelar_reuniao\"}\n\nNUNCA qualquer outro texto, chave, dado ou estrutura.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        5872,
        896
      ],
      "id": "fccd11e4-6b0b-4549-b23e-ba76c9dee629",
      "name": "Secretária checar calendário, agendar, cancelar reunião"
    },
    {
      "parameters": {
        "content": "## Recepção ",
        "height": 420,
        "width": 596
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4592,
        768
      ],
      "typeVersion": 1,
      "id": "39be5d40-4a60-49d7-ab53-934a3969eff0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Identifica checar calendário, agendar e/ou cancelar reunião",
        "height": 480,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5824,
        768
      ],
      "typeVersion": 1,
      "id": "3f6dddb1-5190-4dd7-8def-88404b7c15b6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('Formata o texto').item.json.mensagens }}\n</CLIENTE>",
        "options": {
          "systemMessage": "=Você é um CLASSIFICADOR DE INTENÇÃO.  \nVocê NÃO é atendente.  \nVocê NÃO agenda.  \nVocê NÃO confirma.  \nVocê NÃO responde mensagens.  \nVocê SOMENTE classifica.\n\n-------------------------------------------------\nOBJETIVO ÚNICO:\nLer a mensagem do cliente e retornar APENAS UM dos JSONs abaixo:\n\n{\"intencao\":\"agendamentos\"}\n{\"intencao\":\"informacoes\"}\n{\"intencao\":\"humano\"}\n\n⚠️ SÓ ISSO.\nNADA ALÉM DISSO.\nNENHUM texto extra. Nenhuma explicação. Nenhum símbolo. Nenhum emoji.\n\n-------------------------------------------------\nREGRAS ABSOLUTAS (invioláveis):\n\n❌ Você NÃO pode escrever datas.\n❌ Você NÃO pode escrever horários.\n❌ Você NÃO pode confirmar consultas.\n❌ Você NÃO pode sugerir horários.\n❌ Você NÃO pode repetir horários ditos pelo cliente.\n❌ Você NÃO pode mandar mensagens, frases, textos, respostas explicativas.\n❌ Você NÃO pode responder nada além do JSON.\n\n✅ Você só pode imprimir EXATAMENTE um dos JSONs:\n{\"intencao\":\"agendamentos\"}   ou\n{\"intencao\":\"informacoes\"}    ou\n{\"intencao\":\"humano\"}\n\n-------------------------------------------------\nREGRA MUITO IMPORTANTE:\nMesmo que o cliente informe um horário, data ou aceite um horário,\nVOCÊ NÃO PODE GERAR DATAS, NEM FORMATAR DATAS, NEM GERAR OUTPUT DE DATA.\n\nExemplo:\nCliente: \"Pode ser amanhã às nove.\"\n✅ RESPOSTA CORRETA: {\"intencao\":\"agendamentos\"}\n❌ ERRADO: “2025-10-31T09:00:00-03:00”\n❌ ERRADO: repetir o horário\n❌ ERRADO: qualquer coisa além do JSON\n\n-------------------------------------------------\nREGRAS DE CLASSIFICAÇÃO:\n\n1️⃣ Se o cliente quer agendar, remarcar, desmarcar,\npedir horário, confirmar horário, confirmar médico,\nescolher horário, informar plano ou enviar dados do agendamento:\n→ RESPONDER: {\"intencao\":\"agendamentos\"}\n\nExemplos:\n\"Quero agendar com cardiologista.\"\n\"Pode ser às nove.\"\n\"Tem horário amanhã?\"\n\"Meu nome é João.\"\n\"Dra Ana Carolina.\"\n\"Particular.\"\n\n2️⃣ Se o cliente pedir atendente humano:\n→ RESPONDER: {\"intencao\":\"humano\"}\n\nExemplo:\n\"Quero falar com atendente.\"\n\"Me transfere pra uma pessoa.\"\n\n3️⃣ Para qualquer outra coisa:\n→ RESPONDER: {\"intencao\":\"informacoes\"}\n\nExemplo:\n\"Oi, tudo bem?\"\n\"Qual o endereço?\"\n\"Vocês atendem criança?\"\n\"Quais especialidades?\"\n\n-------------------------------------------------\nAUTO-CORREÇÃO OBRIGATÓRIA:\n\nSe você acidentalmente escrever QUALQUER COISA fora dos JSONs,\nvocê deve apagar completamente e responder SOMENTE um dos três:\n\n{\"intencao\":\"agendamentos\"}\n{\"intencao\":\"informacoes\"}\n{\"intencao\":\"humano\"}\n\nSEM explicação, SEM frases.\n\n-------------------------------------------------\nRESUMO:\nVocê lê a mensagem do cliente,\nidentifica a intenção,\ne responde SOMENTE um dos três JSONs acima.\nNADA mais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4688,
        848
      ],
      "id": "7701c8c1-33f7-421b-a8a5-b2cd3d48612b",
      "name": "Informações ou agendamentos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('Formata o texto').item.json.mensagens }}\n</CLIENTE>\n\n<QUANTIDADE_CONVERSAS>\nQuantidade de conversas: {{ $('Busca conversa diária').item.json.qtd_contatos }}\n</QUANTIDADE_CONVERSAS>\n\n<SAUDACAO>\nsaudacao: {{ (() => {\n    const hora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: 'numeric' });\n    let saudacao = '';\n\n    if (hora >= 3 && hora < 12) {\n        saudacao = 'Bom dia';\n    } else if (hora >= 12 && hora < 19) {\n        saudacao = 'Boa tarde';\n    } else {\n        saudacao = 'Boa noite';\n    }\n\n    return saudacao;\n})() }}\n</SAUDACAO>\n\n<CONTATO>\ncontato: {{ (() => {\n    const contato = $('If - Authorization').item.json.body.data.key.remoteJid.split('@')[0]\n\n    return contato;\n})() }}\n</CONTATO>\n\n<HORARIO>\nhora: {{ (() => {\n    const hora = $now.format('dd/MM/yyyy HH:mm')\n\n    return hora;\n})() }}\n</HORARIO>",
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não dê informação que não esteja dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nSeu nome é Vanessa e você é uma assistente comercial da empresa Beni Construtora. A sua função é responder aos clientes que o atendimento será encaminhado para um atendente humano e enviar uma mensagem para o atendente humano que há um cliente que quer.\n\nQuando um cliente solicitar atendimento humano, envie uma mensagem ao cliente informando, com cordialidade, que o atendimento será encaminhado para um atendente humano e que em breve ele será respondido.\nExemplo de resposta ao cliente:\n\n\"Olá! Entendi sua solicitação. Vou encaminhar seu atendimento para um atendente humano agora mesmo. Em instantes alguém da nossa equipe entrará em contato com você. Obrigado pela paciência!\"\n\nEm seguida, crie uma mensagem interna para o atendente humano com as seguintes da seguinte forma:\n\n\"*Novo atendimento solicitado por um cliente.*{{ '\\n\\n' }} \nContato: <CONTATO>\nHorário: <HORARIO>{{ '\\n' }}\nMensagem do cliente: '{{ $('Formata o texto').item.json.mensagens }}'{{ '\\n\\n' }}\n*Por favor, assuma o atendimento assim que possível.*\"\n\nVocê é poliglota e responderá o cliente no idioma que ele estiver falando.\n\nSe a quantidade de conversas em <QUANTIDADE_CONVERSAS> for igual a 1, cumprimente com saudacao em <SAUDACAO></SAUDACAO>, apresente-se e agradeça o contato. Se a quantidade de conversas em <QUANTIDADE_CONVERSAS> foi maior do que 1, apenas responda à dúvida do cliente diretamente.\n\nSe o cliente faltar com respeito, ser indelicado, fizer algum xingamento, usar palavras inapropriadas, usar linguagem imprópria, responda com educação.\n\n<OUTPUT>\nNão retorne nenhuma outra informação, apenas as respostas ao cliente e o encaminhado para o atendente.\nVocê sempre irá responder usando o formato JSON com duas chaves \"resposta_cliente\" e \"encaminhamento_atendente\". \nResponda exatamente como exemplo, com as variáveis contato, horário e mensagem do cliente\n\nExemplo: \n{\"resposta_cliente\":\"Olá! Entendi sua solicitação. Vou encaminhar seu atendimento para um atendente humano agora mesmo. Em instantes alguém da nossa equipe entrará em contato com você. Obrigado pela paciência!\",\n\"encaminhamento_atendente\": \"*Novo atendimento solicitado por um cliente.*{{ '\\n\\n' }} \nContato: <CONTATO>\nHorário: <HORARIO>{{ '\\n' }}\nMensagem do cliente: '{{ $('Formata o texto').item.json.mensagens }}'{{ '\\n\\n' }}\n*Por favor, assuma o atendimento assim que possível.*\"}\n\n</OUTPUT>\n\n\n</INSTRUCAO>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        5584,
        1392
      ],
      "id": "bab95a1f-f5e9-429b-a33b-195a69d25d25",
      "name": "Assistente encaminha atendimento humano"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "work-less-atendimento",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output.parseJson().resposta_cliente}}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5936,
        1392
      ],
      "id": "f0552e34-11c4-4e79-80b8-21780cfb4165",
      "name": "Envia mensagem p/ cliente",
      "credentials": {
        "evolutionApi": {
          "id": "V1byiW3LVYEmlkes",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "work-less-atendimento",
        "remoteJid": "554891638776@s.whatsapp.net",
        "messageText": "={{ $('Assistente encaminha atendimento humano').item.json.output.parseJson().encaminhamento_atendente }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6176,
        1392
      ],
      "id": "86002d2c-bad5-4d35-abff-2ee45d709a6c",
      "name": "Envia mensagem p/ atendente",
      "credentials": {
        "evolutionApi": {
          "id": "V1byiW3LVYEmlkes",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Encaminha conversa para atendimento humano ",
        "height": 440,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5424,
        1312
      ],
      "typeVersion": 1,
      "id": "39dfc5f0-f94a-45d9-96fa-73f62c9da9f9",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=+55 48 9174-8506"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -192,
        1088
      ],
      "id": "f2a29cda-f944-46a4-9c67-55b5e7b710e4",
      "name": "Limpa buffer de mensagens1",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5520,
        1600
      ],
      "id": "e5d9acd7-f247-4bc8-bd5f-8ffe562a2bff",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ASSISTENTE INTERNO",
        "height": 260,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3808,
        416
      ],
      "typeVersion": 1,
      "id": "d6b86020-5e8c-4ecc-96ef-a8e731af62f4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ceeafa-972c-408f-94ae-c404e9051511",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "ed488f3a-8976-4440-8211-4aa8bd737511",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c3e9162d-855a-478a-87f9-344ab1bd5b6a",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "b7eb5e2e-a507-4b0a-96cd-e8885fb0519f",
              "name": "hora",
              "value": "={{ $('Extrai dados relevantes').item.json.hora }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        496
      ],
      "id": "8115fcbe-d5b4-4841-a733-09fadc520a4e",
      "name": "Formata dados"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cWc2UnK6zw7kdJXC",
          "mode": "list",
          "cachedResultName": "Incorporadora Assistente Interno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4080,
        496
      ],
      "id": "d969a261-642d-43d4-a014-2b5c989cbd74",
      "name": "Incorporadora Assistente Interno"
    },
    {
      "parameters": {
        "content": "## Assistente Checa Calendario",
        "height": 480,
        "width": 780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6752,
        224
      ],
      "typeVersion": 1,
      "id": "0ef2d3e7-f584-4628-8a77-73fe86012b16",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ey7BRHQTC0SH6LFh",
          "mode": "list",
          "cachedResultName": "Clinica Assist Checa Calendario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7360,
        304
      ],
      "id": "a8b64b13-4246-4678-bc98-d2bbd882f160",
      "name": "Chama Assistente Checa Calendario"
    },
    {
      "parameters": {
        "content": "## Assistente Agenda Visita",
        "height": 260,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6784,
        1120
      ],
      "typeVersion": 1,
      "id": "51a9aeb2-4982-4c0e-ba8d-c904502b8442",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Assistente Cancela Visita",
        "height": 260,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6752,
        768
      ],
      "typeVersion": 1,
      "id": "1571242b-e2cf-4743-bb00-1564cd87373d",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C1p7NHxYvQYhB0Nj",
          "mode": "list",
          "cachedResultName": "Clinica Assist Cancelar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7056,
        864
      ],
      "id": "f79a123f-8201-46f5-85f8-743890044a7e",
      "name": "Chama Assistente Cancela Visita"
    },
    {
      "parameters": {
        "content": "## AGENDAMENTOS\n",
        "height": 1360,
        "width": 980,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6688,
        160
      ],
      "typeVersion": 1,
      "id": "6b4855e7-8e80-4046-a2c7-65b33f7d1cd6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Extrai dados relevantes').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5680,
        1616
      ],
      "id": "250d71ce-dee6-43d4-81bc-b21652b72844",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Extrai dados relevantes').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        6048,
        1040
      ],
      "id": "99e2f9e2-bfdc-4f01-9b0d-aa38c285e152",
      "name": "Redis Chat Memory4",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "daily_chat",
          "mode": "list",
          "cachedResultName": "daily_chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contato": "={{ $('Extrai dados relevantes').item.json.numero }}",
            "data_contato": "={{ $now.format('yyyy-MM-dd') }}",
            "bloqueado": true
          },
          "matchingColumns": [
            "data_contato",
            "contato"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_contato",
              "displayName": "data_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contato",
              "displayName": "contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qtd_contatos",
              "displayName": "qtd_contatos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bloqueado",
              "displayName": "bloqueado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agendamento",
              "displayName": "agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6432,
        1408
      ],
      "id": "20ad3f03-3d5c-4ad0-a5b3-ba1b175f8437",
      "name": "Bloqueia contato",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Extrai dados relevantes').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        6976,
        560
      ],
      "id": "9551a89d-3ab1-4bdd-a7c1-4665e2b22bd1",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente que interpreta mensagens de clientes sobre agendamento de reuniões e retorna a data correspondente no formato ISO completo (YYYY-MM-DDTHH:mm:ss).\n\nRegras:\n- Se o cliente NÃO mencionar nenhuma data, dia da semana, nem expressões de tempo (como “amanhã”, “semana que vem”, “dia 15”, “segunda”, “mês que vem”, etc.), retorne exatamente a data e hora atuais, que são {{$now}}.\n- Se o cliente mencionar \"amanhã\", \"depois de amanhã\", etc., retorne a data correspondente às 08:00.\n- Se o cliente mencionar \"semana que vem\", \"na próxima segunda\", \"terça que vem\", etc., retorne a próxima ocorrência do dia da semana correspondente às 08:00.\n- Se o cliente mencionar uma data explícita (como \"dia 15\", \"15/11\", \"15 de novembro\"), interprete essa data no contexto do mês e ano atuais, ou no próximo se a data já tiver passado, sempre às 08:00.\n- Se o cliente mencionar apenas o mês (ex: \"em novembro\"), assuma o primeiro dia útil do mês às 08:00.\n- Use o fuso horário do Brasil (UTC-3) para calcular “hoje”, “amanhã”, etc.\n- Não adicione texto, explicações nem comentários. Retorne apenas a data.\n\n\n📅 Para referência:\n{{ (() => {\n    const dateAndTime = `\n        - Hoje é ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').weekdayLong}, ${$now.format('dd/MM/yyyy')} - ${$now.hour.toString().padStart(2, '0')}:${$now.minute.toString().padStart(2, '0')}\n        - Amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(1, 'days').weekdayLong}, ${$now.plus(1, 'days').format('dd/MM/yyyy')}\n        - Depois de amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(2, 'days').weekdayLong}, ${$now.plus(2, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(3, 'days').weekdayLong} será ${$now.plus(3, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(4, 'days').weekdayLong} será ${$now.plus(4, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(5, 'days').weekdayLong} será ${$now.plus(5, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(6, 'days').weekdayLong} será ${$now.plus(6, 'days').format('dd/MM/yyyy')}\n    `;\n    return dateAndTime.trim();\n})() }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6784,
        304
      ],
      "id": "67d1d4d0-da4b-4fda-bea1-a07c5b2fc80c",
      "name": "Extrai horario sugerido"
    },
    {
      "parameters": {
        "content": "## Assistente Comercial",
        "height": 260,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5824,
        368
      ],
      "typeVersion": 1,
      "id": "2d8eda85-a838-4523-acbc-1eafb5513cbd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1ucMFbb0NnfMqLwi",
          "mode": "list",
          "cachedResultName": "Clinica Assist Comercial"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6112,
        448
      ],
      "id": "49e24e1c-113a-44c6-9415-ab22bfce1dbd",
      "name": "Chama Assistente Comercial2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "agentes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2480,
        -48
      ],
      "id": "2b779618-6dbe-4565-b5b8-a4844388bf1f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac261993-d1ad-4c72-bb6e-815d1a4e8c8c",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        128
      ],
      "id": "636fdf6d-af82-4c3e-b096-82748d70dca7",
      "name": "Incoming ou Outgoing?"
    },
    {
      "parameters": {
        "url": "=https://work-less-atendimento-chatwoot.c4qfa5.easypanel.host/api/v1/accounts/1/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "7ZQHDffFCLzauZzbBKwhRyC3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        -48
      ],
      "id": "3cb53491-b341-4ab9-9311-c6b5d52f0cdc",
      "name": "Lista agentes"
    },
    {
      "parameters": {
        "jsCode": "let nome = $('Webhook').first().json.body.sender.name.toLowerCase()\nlet id = ''\nfor (const agente of $input.first().json.agentes) {\n  if(agente.name.toLowerCase() === nome){\n    id = agente.id\n  }\n}\n\nreturn {\"id\": id};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -48
      ],
      "id": "6510db7c-efbe-49cc-b896-e4b3eff2f4c7",
      "name": "Filtra o id pelo nome"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://work-less-atendimento-chatwoot.c4qfa5.easypanel.host/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/assignments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "7ZQHDffFCLzauZzbBKwhRyC3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        -48
      ],
      "id": "e23b748d-eadd-44a0-8bd5-10daedffca05",
      "name": "Atribui a conversa ao agente"
    },
    {
      "parameters": {
        "content": "## Outgoing",
        "height": 256,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        -128
      ],
      "typeVersion": 1,
      "id": "eefa032e-6e28-4f59-aecb-e8207ad18a25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://work-less-atendimento-chatwoot.c4qfa5.easypanel.host/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/assignments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "7ZQHDffFCLzauZzbBKwhRyC3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "={{ $('Webhook').item.json.body.conversation.meta.assignee.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        192
      ],
      "id": "c9d54d80-4899-4e05-9775-cb79d611c50c",
      "name": "Atribui a conversa ao agente1"
    },
    {
      "parameters": {
        "content": "## Incoming\n",
        "height": 224,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        144
      ],
      "typeVersion": 1,
      "id": "5f1fc518-47f1-4bc8-ac18-e969c6f0dac3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Extrai dados relevantes').item.json.numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3152,
        832
      ],
      "id": "f178d517-919a-47a1-8add-32994b003acd",
      "name": "Limpa buffer de mensagens",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26535df5-e513-4169-a28b-1ea590997713",
              "leftValue": "={{ $json.mensagens.last().replaceAll('\\n','').parseJson().hora.toDateTime().setZone('UTC-3', { keepLocalTime: true }) }}",
              "rightValue": "={{ $now.minus(15, 'seconds')}}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2864,
        816
      ],
      "id": "0d92e8ed-38c5-4e37-a02e-458ee6530091",
      "name": "Faz menos de 15 segundos?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30817809-a6cf-4d06-a301-7222749e2164",
              "leftValue": "={{ $json.mensagens.first().replaceAll('\\n','').parseJson().id }}",
              "rightValue": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        832
      ],
      "id": "537fb459-4b59-4b70-bab1-5ce7dc0c6e84",
      "name": "Primeira mensagem?"
    },
    {
      "parameters": {
        "content": "## Buffer de mensagens - 15s\n",
        "height": 440,
        "width": 1500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        752
      ],
      "typeVersion": 1,
      "id": "8af83584-167c-43a2-b47e-0c7708498ffd",
      "name": "Sticky Note15"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2752,
        944
      ],
      "id": "8ed7bbf7-2c37-417b-bf4d-dcc381a90dc9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Extrai dados relevantes').item.json.numero }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2304,
        832
      ],
      "id": "e977da21-b2e6-403d-87ec-110e62d7261d",
      "name": "Busca as mensagens",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Extrai dados relevantes').item.json.numero }}",
        "messageData": "={\n\"id\": \"{{ $('Extrai dados relevantes').item.json.id_conversa }}\",\n\"numero\": \"{{ $('Extrai dados relevantes').item.json.numero }}\",\n\"hora\": \"{{ $('Extrai dados relevantes').item.json.hora }}\",\n\"mensagem\": \"{{ $('Extrai dados relevantes').item.json.mensagem }}\"\n}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2064,
        832
      ],
      "id": "03929dd1-860f-49ae-ba7e-b26a55049f8f",
      "name": "Salva mensagens",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3072,
        992
      ],
      "id": "b668e6d4-1dff-4aec-b9b2-eab17383c943",
      "name": "Wait",
      "webhookId": "ff06e7de-e36d-4f37-9551-4cf0fd5040ed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ea51506-fd53-4217-8ff6-4e7c8a9b8af9",
              "name": "mensagens",
              "value": "={{ $('Busca as mensagens').item.json.mensagens.map(item => JSON.parse(item.replaceAll('\\n', ' ')).mensagem).join('\\n')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        832
      ],
      "id": "ff1c8618-9321-4cbc-9a7a-dc365d0df040",
      "name": "Formata o texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07c4188f-ff0e-4ec4-ae06-9124b9d775e6",
              "name": "url",
              "value": "={{ $('Webhook').item.json.body.BaseUrl }}",
              "type": "string"
            },
            {
              "id": "3baa8a99-41d2-409d-b60e-40694ba7546f",
              "name": "numero",
              "value": "={{ $('Webhook').item.json.body.message.sender }}",
              "type": "string"
            },
            {
              "id": "ea8b9cc2-47e3-4fed-aac1-15ab520918b4",
              "name": "hora",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "d8f1c872-6ac3-46a5-bb6d-99fb0aa0495d",
              "name": "mensagem",
              "value": "={{ $json.texto }}",
              "type": "string"
            },
            {
              "id": "bf937682-1a94-45b6-aa00-ac475849ac3a",
              "name": "token",
              "value": "={{ $('Webhook').item.json.body.token }}",
              "type": "string"
            },
            {
              "id": "6a954189-00e0-43cc-bbb3-7eaa0ab24512",
              "name": "id_conversa",
              "value": "={{ $('Webhook').item.json.body.message.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        816
      ],
      "id": "cafeec04-735b-4e29-96b5-274e76523064",
      "name": "Extrai dados relevantes"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1200,
        816
      ],
      "id": "b7f54c8a-a6a5-462b-82a8-bf126f78da40",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4a5153f-b297-4b09-af53-1ba1a1425dc5",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13d7df0b-1732-4a84-9e60-8643f6cee409",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        784
      ]
    },
    {
      "parameters": {
        "content": "## TRATAMENTO DOS DADOS\n",
        "height": 520,
        "width": 1380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        656
      ],
      "typeVersion": 1,
      "id": "589ff6a1-7514-44ee-bb0f-32ce53ea0d0c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const mensagemComQuebra = $input.first().json.body.message.text\nconst mensagemSemQuebra = mensagemComQuebra.replace(/\\n/g, ' ');\n\nreturn [\n  {\n    json: {\n      texto: mensagemSemQuebra\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        976
      ],
      "id": "6eb21c67-0c8a-4de9-9c80-188c67c499b3",
      "name": "Retira quebra de linha"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "c7cb7d69-423a-437f-b863-040fe0a9cab3",
      "name": "Transcreve o binario em texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        768,
        784
      ],
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      },
      "notes": "Transcreve o áudio"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "context+55 48 8450-8723"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -176,
        1312
      ],
      "id": "0cf1c22d-18a3-47ac-9bfd-0aab32710370",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Transcrição do áudio\n",
        "height": 231,
        "width": 782,
        "color": 5
      },
      "id": "81d7f2ed-8f88-4b35-b371-ea2677929ca8",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        720
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=context:{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}",
        "messageData": "={\n\"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\",\n\"numero\": \"{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}\",\n\"hora\": \"{{ $('Webhook').item.json.body.date_time }}\",\n\"mensagem\": \"{{ $('Extrai dados relevantes').item.json.texto }}\"\n}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3264,
        128
      ],
      "id": "f7476e91-55d3-4525-b412-a035fbba9e05",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a4d800a-d32e-4640-bc9f-3d457f2b2c78",
              "leftValue": "={{ $json.body.message.messageType }}",
              "rightValue": "AudioMessage",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        800
      ],
      "id": "14d808e9-ae9b-454b-9df0-16bd2fcea838",
      "name": "texto ou áudio?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        128
      ],
      "id": "6d0532f4-b9a6-40ba-98d4-006f36924d9b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## Pausa e atribui conversa ao humano",
        "height": 624,
        "width": 1184,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -224
      ],
      "typeVersion": 1,
      "id": "ffb4e02a-3888-4041-af98-05248ff4c140",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7b93b15a-8e7e-43eb-bdd2-9e0a5dac306b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        800
      ],
      "id": "532d3b1c-c70c-4713-aa67-8c08e6201604",
      "name": "Webhook",
      "webhookId": "7b93b15a-8e7e-43eb-bdd2-9e0a5dac306b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3f9fa26-da5e-4e3c-8aa8-b341ae71db37",
              "leftValue": "={{ $('Webhook').item.json.body.message.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        816
      ],
      "id": "9a501dc6-3b69-434b-940d-0368d653416c",
      "name": "from me?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2048,
        608
      ],
      "id": "0229feea-6408-4897-8157-be4a0d4d05bb",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Extrai dados relevantes').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        4800,
        1056
      ],
      "id": "89f122ea-7d22-41df-a526-6d3d0ce24364",
      "name": "Redis Chat Memory5",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "ba1e2edc-7897-4b19-8692-2ea64c0e1da0",
              "name": "especialidade",
              "value": "={{ $('Busca dados').item.json.especialidade }}",
              "type": "string"
            },
            {
              "id": "a93a13c9-67d1-4c31-86a4-e0760ca11a93",
              "name": "nome_medico",
              "value": "={{ $('Busca dados').item.json.medico }}",
              "type": "string"
            },
            {
              "id": "7e8d3daf-d763-49f4-a67c-37d3859d2a01",
              "name": "nome_cliente",
              "value": "={{ $('Busca dados').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "ecd217c8-8417-44c3-9d5e-5ac8adc624e8",
              "name": "plano_saude",
              "value": "={{ $('Busca dados').item.json.plano_saude }}",
              "type": "string"
            },
            {
              "id": "5dbf1ec2-6b29-4930-8724-2086215309b7",
              "name": "data",
              "value": "={{ $json.output.toDateTime() }}",
              "type": "string"
            },
            {
              "id": "173768eb-ded2-4ac0-a378-843f790fbd2b",
              "name": "medico_especifico",
              "value": "={{ $('Busca dados').item.json.medico_especifico }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6464,
        224
      ],
      "id": "8e29d608-f70b-4fa2-a135-f72f1d04f753",
      "name": "Dados"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=consulta{{ $('Extrai dados relevantes').item.json.numero }}",
        "value": "={{ $json.dados }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -192,
        1536
      ],
      "id": "4e0b903c-8e24-46dd-a042-2ad0402d5209",
      "name": "Salva dados consulta2",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "b73091bf-259d-4934-bb83-d9b263dec696",
              "name": "especialidade",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().especialidade }}",
              "type": "string"
            },
            {
              "id": "79c3bb13-2af2-4998-981d-09843d78b027",
              "name": "nome",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome }}",
              "type": "string"
            },
            {
              "id": "516768e9-f0d5-48e7-b313-370c18e3dce5",
              "name": "medico",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome_medico }}",
              "type": "string"
            },
            {
              "id": "9936bdff-6d11-45d2-aa15-8da8fdcb6e04",
              "name": "plano_saude",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().plano_saude }}",
              "type": "string"
            },
            {
              "id": "cb684667-6a9a-4109-811e-63b186ae334a",
              "name": "medico_preferencia",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "type": "string"
            },
            {
              "id": "758d5adc-9370-48fc-a97b-ab88b80b14f2",
              "name": "possui_cadastro",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "type": "string"
            },
            {
              "id": "5d4efcac-74ed-4a3e-b36a-0292dc82240d",
              "name": "nascimento",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "type": "string"
            },
            {
              "id": "cf5e81ee-e285-4a16-92b5-66224903c6f5",
              "name": "cpf",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().cpf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5888,
        448
      ],
      "id": "d234c064-2ce8-49c9-958a-8781f2fe9cc2",
      "name": "Dados Assistente Comercial"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('Formata o texto').item.json.mensagens }}\n</CLIENTE>",
        "options": {
          "systemMessage": "=# 🎯 FUNÇÃO DO AGENTE\nVocê é um **agente de ANÁLISE de qualificação de leads**.  \nVocê **NÃO conversa com o cliente**.  \nVocê **NÃO faz perguntas**.  \nVocê **NÃO responde nada**.  \nSeu papel é **APENAS analisar mensagens** e **ATUALIZAR um JSON**.\n\n------------------------------------------------------------\n# 📥 ENTRADAS\n------------------------------------------------------------\n\n## 2️⃣ NOVAS MENSAGENS (podem conter dados novos)\n\n\\`\\`\\`text\n{{ $json.mensagens }}\n\\`\\`\\`\n\n------------------------------------------------------------\n# 🧾 JSON DE SAÍDA (OBRIGATÓRIO)\n------------------------------------------------------------\n\nVocê deve retornar **exatamente** esta estrutura:\n\n{\n  \"nome\": ...,\n  \"cpf\": ...,\n  \"nascimento\": ...,\n  \"possui_cadastro\": ...,\n  \"plano_saude\": ...,\n  \"especialidade\": ...,\n  \"medico_preferencia\": ...,\n  \"nome_medico\": ...\n}\n\n------------------------------------------------------------\n# 🧠 REGRAS DE ATUALIZAÇÃO\n------------------------------------------------------------\n\n## 1️⃣ SEMPRE use o estado atual como base  \n- Não apague dados existentes.  \n- Não volte valores para null.  \n- Só atualize se houver **informação nova, clara e explícita**.  \n- Se NÃO houver informação nova → **retorne o mesmo JSON do estado atual**.\n\n## 2️⃣ Mensagens que NÃO atualizam nada  \nExemplos:  \n“sim”, “ok”, “beleza”, “boa tarde”, “tá”, “pode ser”, “obrigado”  \n→ Não preenchem campo algum.\n\n## 3️⃣ Nunca invente dados  \nSe o cliente **não falou explicitamente**, mantenha o valor atual (mesmo que seja null).\n\n------------------------------------------------------------\n# 🔍 REGRAS POR CAMPO\n------------------------------------------------------------\n\n## 🔹 nome  \nSomente quando o cliente disser **nome completo**.\n\n## 🔹 cpf  \nSó preencha se claramente for o CPF do cliente.\n\n## 🔹 nascimento  \nConverter dd/mm/aaaa → aaaa-mm-dd  \nExemplo: 12/08/1993 → 1993-08-12  \nSe estiver confuso → manter null.\n\n## 🔹 possui_cadastro  \n“já sou paciente” → \"sim\"  \n“é minha primeira vez” → \"nao\"  \nSe não disser → manter.\n\n## 🔹 plano_saude  \n“particular” → \"particular\"  \nSe citar plano → retornar exatamente o nome  \nSe não mencionar → manter valor atual.\n\n## 🔹 especialidade  \nAtualizar quando cliente disser algo como:  \n“cardiologia”, “ortopedia”, “pediatria”,  \nou frases como “quero um cardiologista”.\n\n## 🔹 medico_preferencia e nome_medico\n\n### Se cliente pedir um médico específico:\n\"medico_preferencia\": \"sim\"  \n\"nome_medico\": Nome sem Dr/Dra/Sr/Sra\n\n### Se disser que não tem preferência:\n\"medico_preferencia\": \"nao\"\n\n### Se não falar nada:\nNão alterar.\n\n------------------------------------------------------------\n# 📤 SAÍDA FINAL\n------------------------------------------------------------\n\nRetorne **APENAS O JSON FINAL**, sem qualquer texto antes ou depois.\n\nExemplo:\n\n{\n  \"nome\": \"João Ferreira\",\n  \"cpf\": \"12345678900\",\n  \"nascimento\": \"1990-05-10\",\n  \"possui_cadastro\": \"nao\",\n  \"plano_saude\": \"particular\",\n  \"especialidade\": \"cardiologia\",\n  \"medico_preferencia\": \"sim\",\n  \"nome_medico\": \"Ana Carolina Linhares\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3808,
        848
      ],
      "id": "f4c67233-9387-47ed-a904-70d2f9b65cf9",
      "name": "Identifica dados"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Extrai dados relevantes').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3904,
        1040
      ],
      "id": "ff1f68e1-f236-4f22-82c5-f89f46f21a0c",
      "name": "Redis Chat Memory7",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://work-less-ai.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.body.message.id }}\",\n  \"return_base64\": false,\n  \"generate_mp3\": true,\n  \"return_link\": false,\n  \"transcribe\": false,\n  \"download_quoted\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        784
      ],
      "id": "43cbaa60-f100-46da-8548-18c5ccaeb6aa",
      "name": "Obter URL"
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        784
      ],
      "id": "acb306bb-8b6a-46f3-96f4-818272a0f1d5",
      "name": "Download arquivo"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3680,
        1024
      ],
      "id": "f5f1f86e-4cc2-4f45-9d9e-656a073b444f",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "2fFfirWrLEfRHahC",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        4624,
        1024
      ],
      "id": "bd0c726f-4b30-41c8-af9c-483f4b34dd72",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "2fFfirWrLEfRHahC",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        6800,
        512
      ],
      "id": "26a7b28e-dbe3-4813-a80c-8e2fa723ccd2",
      "name": "DeepSeek Chat Model3",
      "credentials": {
        "deepSeekApi": {
          "id": "2fFfirWrLEfRHahC",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca37ff4c-6bb8-45ad-af25-6ec6a5695fbd",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e13211a3-7bc7-4bfd-bd8c-1aa155a73782",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().cpf }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "6bd2867d-bd14-49cc-b100-1e6dbff90451",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "65efa3f4-2e43-450d-ab93-0caab4c67e40",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3da35ad4-6524-4838-825d-66ed7f393950",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().plano_saude }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "6ae2fe1d-34e4-4460-94a4-71ca6f9c7dc6",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().especialidade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "4f890ac9-1550-4dbd-b082-8d2041b9efff",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "159d5add-fbc9-4b8e-95ba-e5ac93fc73a0",
              "leftValue": "={{ $('Consulta setor').item.json.setor }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5216,
        848
      ],
      "id": "afe6a278-9cd7-4367-836b-d1d140faaf7d",
      "name": "Dados não preenchidos?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69fdee3d-60ef-440f-854e-7ac4b2def248",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3fffc01-fa72-4187-b177-80460172143a",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().nome_medico }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5424,
        864
      ],
      "id": "912b6204-9657-40c6-ab85-a8256e052e70",
      "name": "Médico de preferência não informado?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5841d282-2f0e-49eb-b99c-14fad99bbc96",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "95fa1072-2890-4cf4-9953-0379f280b8ce",
              "leftValue": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5632,
        880
      ],
      "id": "92eda800-184e-488e-b9b4-6a9112400fa2",
      "name": "Nao cadastro nascimento nao informado?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "b73091bf-259d-4934-bb83-d9b263dec696",
              "name": "especialidade",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().especialidade }}",
              "type": "string"
            },
            {
              "id": "79c3bb13-2af2-4998-981d-09843d78b027",
              "name": "nome",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome }}",
              "type": "string"
            },
            {
              "id": "516768e9-f0d5-48e7-b313-370c18e3dce5",
              "name": "medico",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome_medico }}",
              "type": "string"
            },
            {
              "id": "9936bdff-6d11-45d2-aa15-8da8fdcb6e04",
              "name": "plano_saude",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().plano_saude }}",
              "type": "string"
            },
            {
              "id": "cb684667-6a9a-4109-811e-63b186ae334a",
              "name": "medico_preferencia",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "type": "string"
            },
            {
              "id": "758d5adc-9370-48fc-a97b-ab88b80b14f2",
              "name": "possui_cadastro",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "type": "string"
            },
            {
              "id": "5d4efcac-74ed-4a3e-b36a-0292dc82240d",
              "name": "nascimento",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "type": "string"
            },
            {
              "id": "cf5e81ee-e285-4a16-92b5-66224903c6f5",
              "name": "cpf",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().cpf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6816,
        864
      ],
      "id": "a5c27951-ea4c-4697-8636-06f116da5ac5",
      "name": "Dados3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "b73091bf-259d-4934-bb83-d9b263dec696",
              "name": "especialidade",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().especialidade }}",
              "type": "string"
            },
            {
              "id": "79c3bb13-2af2-4998-981d-09843d78b027",
              "name": "nome",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome }}",
              "type": "string"
            },
            {
              "id": "516768e9-f0d5-48e7-b313-370c18e3dce5",
              "name": "medico",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome_medico }}",
              "type": "string"
            },
            {
              "id": "9936bdff-6d11-45d2-aa15-8da8fdcb6e04",
              "name": "plano_saude",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().plano_saude }}",
              "type": "string"
            },
            {
              "id": "cb684667-6a9a-4109-811e-63b186ae334a",
              "name": "medico_preferencia",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "type": "string"
            },
            {
              "id": "758d5adc-9370-48fc-a97b-ab88b80b14f2",
              "name": "possui_cadastro",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "type": "string"
            },
            {
              "id": "5d4efcac-74ed-4a3e-b36a-0292dc82240d",
              "name": "nascimento",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "type": "string"
            },
            {
              "id": "cf5e81ee-e285-4a16-92b5-66224903c6f5",
              "name": "cpf",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().cpf }}",
              "type": "string"
            },
            {
              "id": "4f38ef4d-f8ed-4838-a950-601b28f21839",
              "name": "data",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7136,
        304
      ],
      "id": "2af121e6-c572-4d2e-86bc-6f072affe7ee",
      "name": "Dados4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Confirme o horário a consulta médica com o paciente",
        "options": {
          "systemMessage": "=# IDENTIDADE\nSeu nome é Vanessa e você é secretária da Clínica Vida Plena focada em agendamentos. \n\n# FUNÇÃO\nSua função é cuidar de agendamentos para pacientes realizarem consulta médica\nBaseado nas informações da confirmação da consulta agendada, você deve escrever uma mensagem breve e curta indicando que a consulta foi confirmada.\n\n# INSTRUÇÕES\n - Responda sempre no timezone \"America/Sao_Paulo\".\n - Não inclua na resposta o fuso horário, nem outra informação que não seja sobre a confirmação da visita ao decorado, nem notas ou observações. \n - Responda apenas a mensagem de confirmação da consulta médica.\n - Você sempre responderá no idioma que consta em <IDIOMA></IDIOMA>.\n - O seu calendário está no timezone \"America/Sao_Paulo\"\n\n# OUTPUT\n\nVocê sempre responderá exatamente no formato do exemplo abaixo, sem nenhuma outra informação ou observação a mais.\n\n<EXEMPLO>\n\nPrezado {{ $('Cria evento na agenda').item.json.summary }},\n✔️ Consulta confirmada!\n🏢 Local: Clínica Vida Plena\n📍 Endereço: Rua Afonso Pena, 722  \n📅 Dia: {{ (() => {\n    const numero_dia_semana = $('Cria evento na agenda').item.json.start.dateTime.toDateTime().weekday;\n    let dia_semana = '';\n\n    if (numero_dia_semana == 0) {\n        dia_semana = 'domingo';\n    } else if (numero_dia_semana == 1) {\n        dia_semana = 'segunda-feira';\n    }  else if (numero_dia_semana == 2) {\n        dia_semana = 'terça-feira';\n    } else if (numero_dia_semana == 3) {\n        dia_semana = 'quarta-feira';\n    } else if (numero_dia_semana == 4) {\n        dia_semana = 'quinta-feira';\n    } else if (numero_dia_semana == 5) {\n        dia_semana = 'sexta-feira';\n    } else if (numero_dia_semana == 6) {\n        dia_semana = 'sábado';\n    }\n\n    return dia_semana;\n})() }}, {{ $('Cria evento na agenda').item.json.start.dateTime.toDateTime().format('dd/MM/yyyy') }}  \n⏰ Horário: {{ $('Cria evento na agenda').item.json.start.dateTime.toDateTime().format('HH:mm') }}h\n👨‍⚕️ Médico: {{ $('Retorna id').item.json.nome }}\n\nEstamos ansiosos para recebe-lo!\n\nAtenciosamente,\nVanessa\nSecretária - Clínica Vida Plena\n</EXEMPLO>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        8608,
        1328
      ],
      "id": "7ac45257-66f5-4f40-9019-b2e7d04272f9",
      "name": "Secretária confirmação"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json.link }}",
          "mode": "id"
        },
        "start": "={{ $('Idetifica horario').item.json.output.parseJson().inicio }}",
        "end": "={{ $('Idetifica horario').item.json.output.parseJson().fim }}",
        "additionalFields": {
          "description": "=* Paciente: {{ $('Chamada').item.json.nome }}\n* Plano de saúde: {{ $('Chamada').item.json.plano_saude }}\n* Contato: {{ $('Chamada').item.json.numero.split('@')[0] }}",
          "summary": "={{ $('Chamada').item.json.nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        8416,
        1328
      ],
      "id": "932b2d5b-66d4-4708-b674-f4ddbe75d59e",
      "name": "Cria evento na agenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d2hGc7jFp2Rl9rW1",
          "name": "calendar-work-less-clinica"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversa_stand_by\nSET finalizada = true\nWHERE contato = $1\n\n",
        "options": {
          "queryReplacement": "={{ [$('Chamada').item.json.numero] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9216,
        1328
      ],
      "id": "b0108f32-25b3-4b32-8add-32e7101d8cd8",
      "name": "Finaliza conversa stand by",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Finaliza atendimento\n",
        "height": 260,
        "width": 804,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9008,
        1264
      ],
      "typeVersion": 1,
      "id": "073ef246-23f4-4e4a-af9a-fe78d0bab82c",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        8560,
        1536
      ],
      "id": "0c66f1d1-2c3e-4cf4-ac98-58e4ce0c9d5a",
      "name": "OpenAI Chat Model11",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Captura o valor recebido\nlet entrada = $('Chamada').first().json.medico\n// Lista fixa de médicos\nconst medicos = [\n  {\n    nome: \"Ana Carolina de Linhares\",\n    link: \"6b4fbcf1812e88772e0f188057d601e54f3fffad3a2e0fcbb619a9f82e33681d@group.calendar.google.com\",\n    especialidade: \"cardiologia\",\n  },\n  {\n    nome: \"Caroline Peixoto\",\n    link: \"9223f6caf62beb226242b16310a7dfeff6e2c9cecd45e869e0525e262e196ac2@group.calendar.google.com\",\n    especialidade: \"cardiologia\",\n  },\n];\n\n// Função de normalização de texto\nfunction normalizar(texto) {\n  return texto\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // remove acentos\n    .replace(/\\b(dr|dra|doutor|doutora)\\b/g, \"\") // remove títulos\n    .replace(/[^a-z\\s]/g, \"\") // remove símbolos\n    .replace(/\\s+/g, \" \") // remove espaços extras\n    .trim();\n}\n\nconst nomeNormalizado = normalizar(entrada);\n\n// Encontra o médico (match em qualquer direção)\nconst medicoEncontrado = medicos.find(medico => {\n  const nomeMedico = normalizar(medico.nome);\n  return (\n    nomeMedico.includes(nomeNormalizado) ||\n    nomeNormalizado.includes(nomeMedico)\n  );\n});\n\n// Retorna o resultado completo\nreturn [\n  {\n    json: medicoEncontrado\n      ? medicoEncontrado\n      : { nome: null, link: null, especialidade: null },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8208,
        1328
      ],
      "id": "39b98ec1-f9b5-4fe4-a8ad-814f79b7444a",
      "name": "Retorna id",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Chamada').item.json.url }}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Chamada').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Chamada').item.json.numero.replaceAll(' ','').replaceAll('-','').replaceAll('+','') }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9040,
        1328
      ],
      "id": "e263d5de-7186-46a1-9615-1cb06fd93579",
      "name": "Envia mensagem"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4080,
        1040
      ],
      "id": "ef1a10c6-f625-4f6e-b291-ddef33a50b66",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<MEDICO>\n{{ $json.output.parseJson().nome_medico }}\n</MEDICO>",
        "options": {
          "systemMessage": "=## 🎯 Função do agente\nVocê é um agente responsável por identificar corretamente o **nome completo de um médico** a partir de uma **lista fixa de médicos** que você já possui.\n\nO paciente informará apenas o nome do médico (geralmente incompleto e com variações, como “dra ana carolina”).  \nSua tarefa é localizar o nome completo correspondente na lista e retornar apenas o resultado em formato JSON.\n\n---\n\n## 🧾 Lista de médicos conhecidos\n\n- Dra Caroline Peixoto\n- Dra Ana Carolina de Linhares\n\n*(Você pode adicionar ou remover nomes conforme necessário.)*\n\n---\n\n## 🧠 Instruções\n\nVocê deve:\n   - Ignorar diferenças de maiúsculas/minúsculas e acentuação.  \n   - Desconsiderar títulos como “dr”, “dra”, “doutor”, “doutora”.  \n   - Identificar o nome completo mais provável **com base na lista acima**.  \n   - Retornar **apenas** um JSON no formato:\n\n     {\"nome_medico\": \"<nome completo do médico conforme aparece na lista>\"}\n\n   - Se não houver correspondência, retorne:\n     {\"nome_medico\": null}\n\n---\n\n## 🧩 Exemplos\n\n### Exemplo 1\n**Entrada do paciente:**  \n> quero marcar uma consulta com a dra ana carolina  \n\n**Saída esperada:**  \n{\"nome_medico\": \"Ana Carolina de Linhares\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4128,
        848
      ],
      "id": "3022a787-d07b-48a8-a09c-32971e1d6c5f",
      "name": "Identifica médico"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7856,
        1520
      ],
      "id": "b601b79b-6ce0-42b1-be1c-066efa322b91",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('Chamada').item.json.mensagens }}\n</CLIENTE>",
        "options": {
          "systemMessage": "=<INSTRUCAO>\nCom base na mensagem do <CLIENTE> e o histórico de conversa obtido na **redis chat memory**, extraia **o horário escolhido pelo cliente para a consulta médica**.  \nCada consulta tem duração de 30 minutos.\n\n⚠️ **Regras importantes:**\n- **NÃO subentenda o horário**. Palavras vagas como \"manhã\", \"tarde\", \"noite\", \"mais tarde\", \"agora\", \"cedo\", etc., **não são válidas** para extração.\n- **NÃO subentenda o dia**. Se o cliente disser apenas “às 14h”, verifique se há dia mencionado no histórico. Caso contrário, **não extraia nada**.\n- **Se faltar ou estiver ambíguo o horário ou a data, retorne um JSON com os campos vazios**, conforme o formato abaixo.\n- **Interprete corretamente expressões como “quinta-feira que vem”** como a próxima quinta-feira a partir da data atual.\n- **Não retorne nenhum outro dado, apenas a data e hora da reunião**.\n\n🕐 Seu calendário está no timezone `\"America/Sao_Paulo\"`  \n📌 No resultado final, use **offset de fuso horário -03:00**, e **NÃO use \"Z\"**.\n\n📅 Para referência:\n{{ (() => {\n    const dateAndTime = `\n        - Hoje é ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').weekdayLong}, ${$now.format('dd/MM/yyyy')} - ${$now.hour.toString().padStart(2, '0')}:${$now.minute.toString().padStart(2, '0')}\n        - Amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(1, 'days').weekdayLong}, ${$now.plus(1, 'days').format('dd/MM/yyyy')}\n        - Depois de amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(2, 'days').weekdayLong}, ${$now.plus(2, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(3, 'days').weekdayLong} será ${$now.plus(3, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(4, 'days').weekdayLong} será ${$now.plus(4, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(5, 'days').weekdayLong} será ${$now.plus(5, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(6, 'days').weekdayLong} será ${$now.plus(6, 'days').format('dd/MM/yyyy')}\n    `;\n    return dateAndTime.trim();\n})() }}\n\n📤 **Formato de saída obrigatório:**  \nVocê **sempre** deve responder **apenas com um JSON**, com os campos `inicio` e `fim`, **sem aspas ao redor das chaves**, **sem texto adicional**.\n\n📌 **Duração da consulta:** 30 minutos a partir do horário de início.  \n📌 **Formato da data:** `YYYY-MM-DDTHH:mm:ss-03:00` (NUNCA usar `Z` no final)\n\n---\n\n### ✅ Exemplos:\n\n**Entrada**\nusuario: \"Pode ser quinta às 09:00\"  \n**Saída**\n{\n  \"inicio\": \"2025-06-12T09:00:00-03:00\",\n  \"fim\": \"2025-06-12T09:30:00-03:00\"\n}\n\n**Entrada**\nusuario: \"Quarta-feira às 14h\"  \n**Saída**\n{\n  \"inicio\": \"2025-06-11T14:00:00-03:00\",\n  \"fim\": \"2025-06-11T14:30:00-03:00\"\n}\n\n**Entrada**\nusuario: \"Pode ser amanhã de manhã\"  \n**Saída**\n{\n  \"inicio\": \"\",\n  \"fim\": \"\"\n}\n\n**Entrada**\nusuario: \"Pode ser às 15h\"  \n**Saída**\n{\n  \"inicio\": \"\",\n  \"fim\": \"\"\n}\n\n**Entrada**\nusuario: \"Quinta-feira que vem às 10:30\"  \n**Saída**\n{\n  \"inicio\": \"2025-06-19T10:30:00-03:00\",\n  \"fim\": \"2025-06-19T11:00:00-03:00\"\n}\n\n</INSTRUCAO>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        7888,
        1328
      ],
      "id": "15e3ecb7-c1b4-457e-b6d3-5e6378cc48f3",
      "name": "Idetifica horario"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "consultas",
          "mode": "list",
          "cachedResultName": "consultas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finalizada": false,
            "contato": "={{ $('Chamada').item.json.numero }}",
            "agendamento": "={{ $('Idetifica horario').item.json.output.parseJson().inicio}}"
          },
          "matchingColumns": [
            "contato",
            "finalizada"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "medico",
              "displayName": "medico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "especialidade",
              "displayName": "especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agendamento",
              "displayName": "agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "qtd_contatos",
              "displayName": "qtd_contatos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_contato",
              "displayName": "data_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contato",
              "displayName": "contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bloqueado",
              "displayName": "bloqueado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "plano_saude",
              "displayName": "plano_saude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "medico_especifico",
              "displayName": "medico_especifico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finalizada",
              "displayName": "finalizada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9488,
        848
      ],
      "id": "80862ab3-3a87-47b3-8f94-5855402cc741",
      "name": "Salva horário",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agendar visita",
        "height": 440,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8368,
        1248
      ],
      "typeVersion": 1,
      "id": "a2d25768-b134-4f7f-9bb3-8f4a47ea974e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Chamada').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        8800,
        1552
      ],
      "id": "3653e8ad-632d-41d3-af09-487c2cb102c1",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Chamada').item.json.numero }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        8016,
        1536
      ],
      "id": "204615ad-2a95-4320-9cde-e7a7f5559673",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "b73091bf-259d-4934-bb83-d9b263dec696",
              "name": "especialidade",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().especialidade }}",
              "type": "string"
            },
            {
              "id": "79c3bb13-2af2-4998-981d-09843d78b027",
              "name": "nome",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nome }}",
              "type": "string"
            },
            {
              "id": "516768e9-f0d5-48e7-b313-370c18e3dce5",
              "name": "medico",
              "value": "={{ $('Identifica médico').item.json.output.parseJson().nome_medico }}",
              "type": "string"
            },
            {
              "id": "9936bdff-6d11-45d2-aa15-8da8fdcb6e04",
              "name": "plano_saude",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().plano_saude }}",
              "type": "string"
            },
            {
              "id": "cb684667-6a9a-4109-811e-63b186ae334a",
              "name": "medico_preferencia",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().medico_preferencia }}",
              "type": "string"
            },
            {
              "id": "758d5adc-9370-48fc-a97b-ab88b80b14f2",
              "name": "possui_cadastro",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().possui_cadastro }}",
              "type": "string"
            },
            {
              "id": "5d4efcac-74ed-4a3e-b36a-0292dc82240d",
              "name": "nascimento",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().nascimento }}",
              "type": "string"
            },
            {
              "id": "cf5e81ee-e285-4a16-92b5-66224903c6f5",
              "name": "cpf",
              "value": "={{ $('Identifica dados').item.json.output.parseJson().cpf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6864,
        1184
      ],
      "id": "f45ea4fb-f0dc-4f6d-b786-28bd566c1a15",
      "name": "Chamada"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5824,
        1040
      ],
      "id": "d8a1eae4-041e-4743-ab5d-487cfdde6de8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes (cpf_cnpj, nome, nascimento, contato)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (cpf_cnpj) DO UPDATE SET\n  nome = $2,\n  nascimento = $3,\n  contato = $4\nRETURNING *",
        "options": {
          "queryReplacement": "={{ [$('Chamada').item.json.cpf, $('Chamada').item.json.nome, $('Chamada').item.json.nascimento, $('Chamada').item.json.numero] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9392,
        1328
      ],
      "id": "4421e63e-3a66-4fe4-a33c-a4f893b9fd82",
      "name": "Cadastra ou atualiza cliente",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO consultas (cliente, medico, especialidade, agendamento, plano_saude, medico_especifico)\nVALUES ($1, $2, $3, $4, $5, $6)\nON CONFLICT (cliente, agendamento) DO UPDATE SET\n  cliente = $1,\n  medico = $2,\n  especialidade = $3,\n  agendamento = $4,\n  plano_saude = $5,\n  medico_especifico = $6\nRETURNING *",
        "options": {
          "queryReplacement": "={{ [$json.id, $('Chamada').item.json.medico, $('Chamada').item.json.especialidade, $('Idetifica horario').item.json.output.parseJson().inicio, $('Chamada').item.json.plano_saude, $('Chamada').item.json.medico_preferencia] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9600,
        1328
      ],
      "id": "10d85f73-aa2f-4dd2-b292-4e36edcc3e80",
      "name": "Cadastra ou atualiza consulta",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO atendimento (contato)\nVALUES ($1)\nON CONFLICT (contato) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$json.numero] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        832
      ],
      "id": "8e89ce59-94de-4afd-b9c4-187d2dca7493",
      "name": "Insere atendimento",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "atendimento",
          "mode": "list",
          "cachedResultName": "atendimento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "contato",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4480,
        848
      ],
      "id": "92f01dde-cd61-458c-8147-46621b3a620c",
      "name": "Consulta setor",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Mensagem do atendente?": {
      "main": [
        [
          {
            "node": "Formata dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identifica dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checar calendário, agendar reunião ou canelar reunião?": {
      "main": [
        [
          {
            "node": "Extrai horario sugerido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informações ou agendamentos?": {
      "main": [
        [
          {
            "node": "Dados Assistente Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados não preenchidos?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assistente encaminha atendimento humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária checar calendário, agendar, cancelar reunião": {
      "main": [
        [
          {
            "node": "checar calendário, agendar reunião ou canelar reunião?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações ou agendamentos": {
      "main": [
        [
          {
            "node": "informações ou agendamentos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistente encaminha atendimento humano": {
      "main": [
        [
          {
            "node": "Envia mensagem p/ cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem p/ cliente": {
      "main": [
        [
          {
            "node": "Envia mensagem p/ atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente encaminha atendimento humano",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formata dados": {
      "main": [
        [
          {
            "node": "Incorporadora Assistente Interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Assistente encaminha atendimento humano",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Secretária checar calendário, agendar, cancelar reunião",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem p/ atendente": {
      "main": [
        [
          {
            "node": "Bloqueia contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Extrai horario sugerido",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extrai horario sugerido": {
      "main": [
        [
          {
            "node": "Dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Filtra o id pelo nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming ou Outgoing?": {
      "main": [
        [
          {
            "node": "Lista agentes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atribui a conversa ao agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista agentes": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra o id pelo nome": {
      "main": [
        [
          {
            "node": "Atribui a conversa ao agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atribui a conversa ao agente": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atribui a conversa ao agente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limpa buffer de mensagens": {
      "main": [
        [
          {
            "node": "Formata o texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz menos de 15 segundos?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpa buffer de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira mensagem?": {
      "main": [
        [
          {
            "node": "Faz menos de 15 segundos?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca as mensagens": {
      "main": [
        [
          {
            "node": "Primeira mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagens": {
      "main": [
        [
          {
            "node": "Busca as mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca as mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai dados relevantes": {
      "main": [
        [
          {
            "node": "from me?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extrai dados relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retira quebra de linha": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcreve o binario em texto": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto ou áudio?1": {
      "main": [
        [
          {
            "node": "Obter URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retira quebra de linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata o texto": {
      "main": [
        [
          {
            "node": "Mensagem do atendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "texto ou áudio?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "from me?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insere atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "Informações ou agendamentos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        []
      ]
    },
    "Salva dados consulta2": {
      "main": [
        []
      ]
    },
    "Dados Assistente Comercial": {
      "main": [
        [
          {
            "node": "Chama Assistente Comercial2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory7": {
      "ai_memory": [
        [
          {
            "node": "Identifica dados",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Identifica dados": {
      "main": [
        [
          {
            "node": "Identifica médico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter URL": {
      "main": [
        [
          {
            "node": "Download arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download arquivo": {
      "main": [
        [
          {
            "node": "Transcreve o binario em texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Identifica dados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Informações ou agendamentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extrai horario sugerido",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dados não preenchidos?": {
      "main": [
        [
          {
            "node": "Dados Assistente Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Médico de preferência não informado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Médico de preferência não informado?": {
      "main": [
        [
          {
            "node": "Dados Assistente Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nao cadastro nascimento nao informado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nao cadastro nascimento nao informado?": {
      "main": [
        [
          {
            "node": "Dados Assistente Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Secretária checar calendário, agendar, cancelar reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados3": {
      "main": [
        [
          {
            "node": "Chama Assistente Cancela Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados4": {
      "main": [
        [
          {
            "node": "Chama Assistente Checa Calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária confirmação": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria evento na agenda": {
      "main": [
        [
          {
            "node": "Secretária confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finaliza conversa stand by": {
      "main": [
        [
          {
            "node": "Cadastra ou atualiza cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária confirmação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retorna id": {
      "main": [
        [
          {
            "node": "Cria evento na agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem": {
      "main": [
        [
          {
            "node": "Finaliza conversa stand by",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Identifica médico",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Identifica médico": {
      "main": [
        [
          {
            "node": "Consulta setor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Idetifica horario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idetifica horario": {
      "main": [
        [
          {
            "node": "Retorna id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Secretária confirmação",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Idetifica horario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chamada": {
      "main": [
        [
          {
            "node": "Idetifica horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária checar calendário, agendar, cancelar reunião",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra ou atualiza cliente": {
      "main": [
        [
          {
            "node": "Cadastra ou atualiza consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere atendimento": {
      "main": [
        [
          {
            "node": "Salva mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta setor": {
      "main": [
        [
          {
            "node": "Informações ou agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "779530ad-c795-4165-a42c-c546b07e0a84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a70a1343a03530a452f4dec61f49dcb55af90d675b64a06d66352538d4bcf3b4"
  },
  "id": "Aste4bOriRO8VwSq",
  "tags": []
}