Clinica Assist Checa Calendario.json
{
  "name": "Clinica Assist Checa Calendario",
  "nodes": [
    {
      "parameters": {
        "content": "## Checar horários especialistas",
        "height": 600,
        "width": 2620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        272
      ],
      "typeVersion": 1,
      "id": "46478422-5b81-4f6b-95e5-2e22b42b6d6d",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('Chamada').item.json.mensagens }}\n</CLIENTE>\n\n<HORARIOS>\n{{ (() => {\n    const horariosDisponiveis = $('Code1').item.json.horarios_disponiveis\n    let mensagem_formatada = '';\n\n    horariosDisponiveis.forEach(profissional => {\n      mensagem_formatada += `*${profissional.nome}*:\\n`;\n      profissional.horarios.forEach(horario => {\n        // Pega somente a parte antes do fuso (-03:00)\n        const [dataParte, horaParteComFuso] = horario.split('T');\n        const horaParte = horaParteComFuso.substring(0, 5); // HH:MM\n        \n        // Converte de \"YYYY-MM-DD\" para \"DD/MM/YYYY\"\n        const [ano, mes, dia] = dataParte.split('-');\n        const dataFormatada = `${dia}/${mes}/${ano}`;\n        \n        mensagem_formatada += ` - ${dataFormatada} ${horaParte}\\n`;\n      })\n    })\n\n    return mensagem_formatada;\n})() }}\n\n\n\n</HORARIOS>\n\n<SAUDACAO>\nsaudacao: {{ (() => {\n    const hora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: 'numeric' });\n    let saudacao = '';\n\n    if (hora >= 3 && hora < 12) {\n        saudacao = 'Bom dia';\n    } else if (hora >= 12 && hora < 19) {\n        saudacao = 'Boa tarde';\n    } else {\n        saudacao = 'Boa noite';\n    }\n\n    return saudacao;\n})() }}\n</SAUDACAO>",
        "options": {
          "systemMessage": "=<INSTRUCAO>\nSua função é ajudar clientes a marcarem horários disponíveis.\n\n---\n\n## REGRAS PRINCIPAIS\n1. Seja objetivo e direto.\n2. Não dê nenhuma outra informação ou observação que não seja sobre o agendamento.\n3. Quando houver mais de um horário, apenas liste-os por médico com clareza, sem induzir escolha.\n4. Quando houver apenas um horário, apresente-o como disponível informando o nome do médico, sem solicitar confirmação, escolha ou resposta do cliente.\n6. Se não for a primeira mensagem, NÃO faça saudação. Apenas apresente os horários.\n\n📅 Para referência:\n{{ (() => {\n    const dateAndTime = `\n        - Hoje é ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').weekdayLong}, ${$now.format('dd/MM/yyyy')} - ${$now.hour.toString().padStart(2, '0')}:${$now.minute.toString().padStart(2, '0')}\n        - Amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(1, 'days').weekdayLong}, ${$now.plus(1, 'days').format('dd/MM/yyyy')}\n        - Depois de amanhã será ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(2, 'days').weekdayLong}, ${$now.plus(2, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(3, 'days').weekdayLong} será ${$now.plus(3, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(4, 'days').weekdayLong} será ${$now.plus(4, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(5, 'days').weekdayLong} será ${$now.plus(5, 'days').format('dd/MM/yyyy')}\n        - ${$now.setLocale('pt-BR').setZone('America/Sao_Paulo').plus(6, 'days').weekdayLong} será ${$now.plus(6, 'days').format('dd/MM/yyyy')}\n    `;\n    return dateAndTime.trim();\n})() }}\n\n---\n\n## FORMATO OBRIGATÓRIO DE APRESENTAÇÃO\nVocê DEVE seguir EXATAMENTE o formato abaixo para apresentar os horários:\n\n**Nome do Médico**:\nDD/MM/AAAA - Dia da semana:\n - HH:MM\n - HH:MM\n - HH:MM\n\nDD/MM/AAAA - Dia da semana:\n - HH:MM\n - HH:MM\n - HH:MM\n\n**Nome do Médico 2**:\nDD/MM/AAAA - Dia da semana:\n - HH:MM\n - HH:MM\n\n---\n\n### INSTRUÇÕES CRÍTICAS SOBRE O FORMATO:\n⚠️ **ATENÇÃO:** Você DEVE agrupar os horários da seguinte forma:\n1. Primeiro agrupe por MÉDICO (use negrito **)\n2. Dentro de cada médico, agrupe por DATA (DD/MM/AAAA - Dia da semana)\n3. Liste os horários de cada data com \" - \" na frente\n4. Deixe uma linha em branco entre datas diferentes do mesmo médico\n5. NUNCA liste todos os horários em sequência sem agrupar por data\n6. NUNCA use formato simples como \"20/10/2025 18:00\" direto na lista\n\n---\n\n## EXEMPLOS DE RESPOSTA CORRETA\n\n### Exemplo 1 - Múltiplos horários e múltiplos médicos\n```\nPara cardiologia temos horários disponíveis mais próximos: \n\n**Dra Ana Carolina de Linhares**:\n20/10/2025 - Segunda-feira:\n - 18:00\n - 18:30\n - 19:00\n - 19:30\n - 20:00\n - 20:30\n\n21/10/2025 - Terça-feira:\n - 08:00\n - 08:30\n - 09:00\n - 09:30\n - 10:00\n - 10:30\n - 11:00\n - 11:30\n - 12:00\n - 12:30\n\n**Dra Caroline Peixoto**:\n20/10/2025 - Segunda-feira:\n - 18:00\n - 18:30\n - 19:00\n - 19:30\n - 20:00\n - 20:30\n\n21/10/2025 - Terça-feira:\n - 08:00\n - 08:30\n - 09:00\n - 09:30\n - 10:00\n - 10:30\n```\n\n### Exemplo 2 - Único horário disponível\n```\nPara cardiologia temos o seguinte horário disponível mais próximo: \n\n**Dra Ana Carolina de Linhares**:\n20/10/2025 - Segunda-feira:\n - 18:00\n```\n\n### Exemplo 3 - Cliente solicitou médico específico\n```\nOs horários mais próximos disponíveis para a Dra Ana Carolina de Linhares são:\n\n20/10/2025 - Segunda-feira:\n - 18:00\n - 18:30\n - 19:00\n\n21/10/2025 - Terça-feira:\n - 08:00\n - 08:30\n - 09:00\n```\n\n---\n\n## ❌ O QUE VOCÊ DEVE EVITAR\n\n### FORMATO ERRADO (NÃO FAÇA ASSIM):\n```\n❌ Errado:\n**Ana Carolina de Linhares**:\n- 20/10/2025 18:00\n- 20/10/2025 18:30\n- 20/10/2025 19:00\n- 21/10/2025 08:00\n- 21/10/2025 08:30\n```\n\n### FORMATO CORRETO (FAÇA ASSIM):\n```\n✅ Correto:\n**Ana Carolina de Linhares**:\n20/10/2025 - Segunda-feira:\n - 18:00\n - 18:30\n - 19:00\n\n21/10/2025 - Terça-feira:\n - 08:00\n - 08:30\n```\n\n### OUTRAS COISAS QUE VOCÊ NÃO DEVE FAZER:\n❌ NÃO confirme agendamentos automaticamente\n❌ NÃO sugira horários que não estão em <HORARIOS>\n❌ NÃO peça confirmação quando houver apenas um horário\n❌ NÃO induza escolhas do cliente\n❌ NÃO dê informações além do agendamento\n\n---\n\n## PROCESSAMENTO DOS HORÁRIOS (SIGA ESTES PASSOS)\nAntes de responder ao cliente, você DEVE seguir estes passos:\n\n**Passo 1:** Leia todos os horários em <HORARIOS>\n**Passo 2:** Identifique todos os médicos únicos\n**Passo 3:** Para cada médico, identifique todas as datas únicas\n**Passo 4:** Agrupe os horários por médico e depois por data\n**Passo 5:** Formate a resposta EXATAMENTE como nos exemplos acima\n**Passo 6:** Verifique se você agrupou por data (não listou tudo em sequência)\n\n---\n\n## VALIDAÇÃO ANTES DE ENVIAR\nAntes de enviar sua resposta, verifique:\n- ✓ Agrupei os horários por médico primeiro?\n- ✓ Agrupei os horários por data dentro de cada médico?\n- ✓ Usei o formato \"DD/MM/AAAA - Dia da semana:\" para as datas?\n- ✓ Coloquei \" - \" na frente de cada horário?\n- ✓ Deixei linha em branco entre datas diferentes?\n- ✓ Segui exatamente o formato dos exemplos?\n\n---\n\n<OUTPUT>\nresponse_format: \"text\"\n</OUTPUT>\n</INSTRUCAO>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1984,
        288
      ],
      "id": "4b6d3670-5471-4133-91ba-55ae4febd95b",
      "name": "Secretária checar todos horários"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1888,
        480
      ],
      "id": "e3afdc89-8d02-4941-b1a1-3fb676473771",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "mh3lGjR5Byg7EG6P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversa_stand_by (contato, hora_ultima_conversa, finalizada)\nVALUES ($1, '{{$now}}', false)\nON CONFLICT (contato) DO UPDATE SET\n  hora_ultima_conversa = '{{ $now }}',\n  finalizada = false;\n",
        "options": {
          "queryReplacement": "={{ [$('Chamada').item.json.contato] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3552,
        -208
      ],
      "id": "ffcb57da-a8b8-4f43-8272-42386a5a20d7",
      "name": "Salva conversa stand by",
      "credentials": {
        "postgres": {
          "id": "arYacY27pDiHcs5s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envia Mensagem",
        "height": 420,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        -224
      ],
      "typeVersion": 1,
      "id": "69196eb8-4fb5-4ccf-b71d-10726b402c18",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1925383-3822-4fa4-b0e2-a818e17350c9",
              "name": "mensagem",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        -16
      ],
      "id": "7bf1582e-040f-4e73-896b-b96365a773d7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3152,
        -16
      ],
      "id": "c164f19d-cd3e-4a81-afe9-88e0f0daa242",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3392,
        -16
      ],
      "id": "32b0876a-ffbd-4839-a168-5cde472d08af",
      "name": "Wait1",
      "webhookId": "1efacd5c-1e00-4a16-b16c-f105d4119c39"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensagem",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2880,
        -16
      ],
      "id": "2a0e4379-8c9e-443b-ace6-1a2fc3f1590b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Chamada').item.json.url }}/message/sendText/{{ $('Chamada').item.json.instancia }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\"apikey\":\"{{ $('Chamada').item.json.apikey }}\"}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\":\"{{ $('Chamada').item.json.numero }}\",\"text\":\"{{ $json.mensagem }}\",\"delay\":6000}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        288
      ],
      "id": "3e0eee84-6c26-4cb6-a651-f57590b96c7a",
      "name": "Envia mensagem1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2afdabf0-c79d-4177-b5d8-6744bb3c02a6",
              "name": "mensagem",
              "value": "={{ $('Loop Over Items').item.json.mensagem.replace(/\\n/g, \"\\\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        304
      ],
      "id": "0373ab77-294a-4169-8b98-3cd5c7aeb6c8",
      "name": "Escapa \\n"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2192,
        512
      ],
      "id": "b0abe952-6b83-4f81-9a43-1be8d7bf4f0a",
      "name": "calculadora1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=context{{ $('Chamada').item.json.contato }}",
        "sessionTTL": 1209600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2032,
        512
      ],
      "id": "97187591-18da-4a11-b06b-2df8c71e0896",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "4Q6dGgHJkdAxYegV",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.medico_preferencia }}",
                    "rightValue": "sim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "620b88ee-da81-4440-9b6b-5ed0e6149b74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0bf4668-6727-4f68-88a7-3320b19e9eab",
                    "leftValue": "={{ $json.medico_preferencia}}",
                    "rightValue": "nao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "especialistas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -784,
        624
      ],
      "id": "340f0797-5d10-4e4f-b853-5c32461bcebb",
      "name": "Médico específico?"
    },
    {
      "parameters": {
        "jsCode": "const especialidade = $('Chamada').first().json.especialidade;\n\n// Lista de médicos simulada (poderia vir de uma API ou banco de dados)\nconst medicos = [\n  { \"nome\": \"Ana Carolina de Linhares\", \"link\": \"6b4fbcf1812e88772e0f188057d601e54f3fffad3a2e0fcbb619a9f82e33681d@group.calendar.google.com\", \"especialidade\": \"cardiologia\", \"data\": $input.first().json.data},\n   { \"nome\": \"Caroline Peixoto\", \"link\": \"9223f6caf62beb226242b16310a7dfeff6e2c9cecd45e869e0525e262e196ac2@group.calendar.google.com\", \"especialidade\": \"cardiologia\", \"data\": $input.first().json.data }\n];\n\n// Filtra médicos pela especialidade requisitada\nconst especialistas = medicos.filter(medico => \n  medico.especialidade.toLowerCase() === especialidade.toLowerCase()\n);\n\n// Retorna a lista filtrada\nreturn especialistas;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        784
      ],
      "id": "139843c5-9699-4bb9-8667-eb517c2531c9",
      "name": "Retorna medicos especialistas",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        624
      ],
      "id": "ae82a5fb-6146-4b6c-8803-2f9b65857219",
      "name": "Loop Over Items1",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1203f66-c24d-43ca-b8b1-b50d7d42e444",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        624
      ],
      "id": "790c3c45-e758-47a0-99c4-1950d0ab0581",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        624
      ],
      "id": "926173c6-a9d7-4030-8e81-981a152acfd9",
      "name": "Code",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.link }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $('Chamada').item.json.data.toDateTime() }}",
        "timeMax": "={{ $('Chamada').item.json.data.toDateTime().plus(1, 'day').set({ hour: 21, minute: 0, second: 0, millisecond: 0 })  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        640
      ],
      "id": "08153e2c-3aec-48c6-b841-a978d2032f59",
      "name": "Google Calendar1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d2hGc7jFp2Rl9rW1",
          "name": "calendar-work-less-clinica"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "horarios",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        640
      ],
      "id": "0959e2ab-4812-4a2a-a649-2d58ea968057",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Loop Over Items1').item.json.nome }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1504,
        640
      ],
      "id": "275e8b78-e17a-403f-9fe6-a15658e0fa5f",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "horarios_disponiveis",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        384
      ],
      "id": "3b47e726-59ba-47c9-8afc-17df99c6fde5",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\nconst now = new Date($('Chamada').first().json.data);\nconst offsetInMinutes = -180; // UTC-3\n\n// Arredonda para o próximo múltiplo de 30 minutos, mantendo se já estiver alinhado\nconst remainder = now.getMinutes() % 30;\nif (remainder !== 0) {\n\tnow.setMinutes(now.getMinutes() + (30 - remainder));\n}\nnow.setSeconds(0);\nnow.setMilliseconds(0);\n\n// Ajusta para horário local\nconst offsetNow = new Date(now.getTime() + offsetInMinutes * 60 * 1000);\nconst hourNow = offsetNow.getHours();\nconst dayNow = offsetNow.getDay();\n\n// Se for fim de semana, retorna lista vazia\nif (dayNow === 0 || dayNow === 6) {\n\treturn [];\n}\n\n// Novo cálculo de `end` para garantir 21:00 do dia seguinte em horário local (UTC-3)\nconst endLocal = new Date(now.getTime() + offsetInMinutes * 60 * 1000);\nendLocal.setDate(endLocal.getDate() + 1);\nendLocal.setHours(21, 0, 0, 0);\n\n// Converte `end` de volta para UTC\nconst end = new Date(endLocal.getTime() - offsetInMinutes * 60 * 1000);\n\nlet current = new Date(now);\n\n// Formata ISO com offset\nfunction formatToIsoWithOffset(date, offsetMinutes) {\n\tconst tzDate = new Date(date.getTime() + offsetMinutes * 60 * 1000);\n\tlet isoString = tzDate.toISOString();\n\tisoString = isoString.replace(/\\.\\d{3}Z$/, '');\n\tconst offsetHours = Math.floor(Math.abs(offsetMinutes) / 60).toString().padStart(2, '0');\n\tconst offsetMins = (Math.abs(offsetMinutes) % 60).toString().padStart(2, '0');\n\tconst sign = offsetMinutes >= 0 ? '+' : '-';\n\treturn `${isoString}${sign}${offsetHours}:${offsetMins}`;\n}\n\n// Agenda existente\nconst rawAgenda = $input.first()?.json?.horarios;\nconst agendaData = Array.isArray(rawAgenda) ? rawAgenda : [];\n\nconst agenda = agendaData\n\t.filter(a => a?.start?.dateTime)\n\t.map(a => formatToIsoWithOffset(new Date(a.start.dateTime), offsetInMinutes));\n\nconst agendaSet = new Set(agenda);\n\n// Geração dos horários disponíveis\nwhile (current <= end) {\n\tconst localDate = new Date(current.getTime() + offsetInMinutes * 60 * 1000);\n\tconst day = localDate.getDay();\n\tconst hour = localDate.getHours();\n\tconst minute = localDate.getMinutes();\n\tconst totalMinutes = hour * 60 + minute;\n\n\tconst isWeekday = day >= 1 && day <= 5;\n\tconst isValidTime = isWeekday && totalMinutes >= 480 && totalMinutes < 1260; // entre 08:00 e 21:00 (inclusive 08:00, exclui 21:00)\n\n\tconst timestamp = formatToIsoWithOffset(current, offsetInMinutes);\n\n\tif (isValidTime && !agendaSet.has(timestamp)) {\n\t\tresult.push({ json: { timestamp } });\n\t}\n\n\tcurrent = new Date(current.getTime() + 30 * 60 * 1000); // próximo bloco de 30 min\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        640
      ],
      "id": "b6a8b5ff-edc2-4013-89c3-294fd51087cd",
      "name": "Code4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const dados = items[0].json.horarios_disponiveis;\n\n// Função para saber se o array não tem horários válidos\nfunction semHorariosValidos(horarios) {\n  return !Array.isArray(horarios) || horarios.length === 0 || horarios.every(h => !h);\n}\n\nconst todosVazios = dados.every(profissional => semHorariosValidos(profissional.horarios));\nconst algumVazio = dados.some(profissional => semHorariosValidos(profissional.horarios));\nconst quantidadeVazios = dados.filter(profissional => semHorariosValidos(profissional.horarios)).length;\n\nreturn [\n  {\n    json: {\n      todos_os_horarios_vazios: todosVazios,\n      algum_horario_vazio: algumVazio,\n      quantidade_horarios_vazios: quantidadeVazios,\n      detalhes: dados.map(profissional => ({\n        nome: profissional.nome,\n        horarios_vazios: semHorariosValidos(profissional.horarios),\n        quantidade_horarios_validos: Array.isArray(profissional.horarios) \n          ? profissional.horarios.filter(h => h).length \n          : 0\n      }))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        384
      ],
      "id": "295ad7fc-5f57-40dd-b35c-04b91be445b6",
      "name": "Verifica se tem horários disponíveis"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3664d59f-04e9-42af-aa70-37fab4b222ca",
              "leftValue": "={{ $json.todos_os_horarios_vazios }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        384
      ],
      "id": "99b4c7c4-f5eb-4094-8555-d7bf5d386e0f",
      "name": "Tem horário disponível?"
    },
    {
      "parameters": {
        "jsCode": "const dadosRecebidos = items[0].json;\nconst resultado = [];\n\n// Processa cada profissional\nfor (const profissionalObj of dadosRecebidos.horarios_disponiveis) {\n  for (const nome in profissionalObj) {\n    const horariosProfissional = profissionalObj[nome];\n    \n    // Extrai apenas os valores de timestamp\n    const horariosSimplificados = horariosProfissional.map(item => item.timestamp);\n    \n    resultado.push({\n      nome: nome,\n      horarios: horariosSimplificados\n    });\n  }\n}\n\nreturn {\n  json: {\n    horarios_disponiveis: resultado\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        384
      ],
      "id": "6712b41c-d75e-4e83-b2bb-835d677610fd",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -16,
        624
      ],
      "id": "cf8e1d1c-2b6c-4691-94e8-529a1c1d4c1b",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Chamada').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Chamada').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Chamada').item.json.token }}",
              "type": "string"
            },
            {
              "id": "ba1e2edc-7897-4b19-8692-2ea64c0e1da0",
              "name": "especialidade",
              "value": "={{ $('Chamada').item.json.especialidade }}",
              "type": "string"
            },
            {
              "id": "a93a13c9-67d1-4c31-86a4-e0760ca11a93",
              "name": "medico",
              "value": "={{ $('Chamada').item.json.medico }}",
              "type": "string"
            },
            {
              "id": "fdd4e0c4-3caf-48ae-b78b-4878a455ddc6",
              "name": "medico_especifico",
              "value": "={{ $('Chamada').item.json.medico_preferencia }}",
              "type": "string"
            },
            {
              "id": "d29aa331-87b6-469e-bd0a-ba2b8be6f23c",
              "name": "data",
              "value": "={{ $('Chamada').item.json.data.toDateTime().plus(1, 'day').set({ hour: 8, minute: 0, second: 0, millisecond: 0 }) }}",
              "type": "string"
            },
            {
              "id": "72b473f1-7c11-4f9a-8476-09aa74b95183",
              "name": "id",
              "value": "={{ $('Chamada').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        640
      ],
      "id": "362f946c-7401-4967-a625-fe46e88747c6",
      "name": "Dados"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "73zVRPxZi4n8fzsV",
          "mode": "list",
          "cachedResultName": "Clinica Checa Calendario restart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2000,
        640
      ],
      "id": "e0e7998f-8bd2-48f8-8b0e-ea60eb4d2e8f",
      "name": "Chama checa calendario restart"
    },
    {
      "parameters": {
        "jsCode": "// Pega o nome do médico dos dados extraídos\nconst nome_medico = $input.first().json.medico\n\n// Lista de médicos disponíveis\nconst lista_medicos = [\n  { \"nome\": \"Ana Carolina de Linhares\", \"link\": \"6b4fbcf1812e88772e0f188057d601e54f3fffad3a2e0fcbb619a9f82e33681d@group.calendar.google.com\", \"especialidade\": \"cardiologia\", \"data\": $input.first().json.data},\n  { \"nome\": \"Caroline Peixoto\", \"link\": \"9223f6caf62beb226242b16310a7dfeff6e2c9cecd45e869e0525e262e196ac2@group.calendar.google.com\", \"especialidade\": \"cardiologia\", \"data\": $input.first().json.data }\n];\n\n// Verifica se nome_medico existe e não é \"não informado\"\nif (!nome_medico || nome_medico === \"não informado\") {\n  return lista_medicos; // Retorna todos se não especificou\n}\n\n// Filtra o médico específico\nconst medico = lista_medicos.filter(m => \n  m.nome.toLowerCase() === nome_medico.toLowerCase()\n);\n\n// Retorna o médico encontrado (ou array vazio se não encontrou)\nreturn medico;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        448
      ],
      "id": "184e9371-5d41-4350-b27b-d3a505f91fb1",
      "name": "Retorna medico",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -240,
        624
      ],
      "id": "f541e6f8-1913-42a9-8bf0-e0c9e8c21890",
      "name": "Merge2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        624
      ],
      "id": "906b07b5-5352-4820-ad3c-e7665534c030",
      "name": "Chamada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Chamada').item.json.url }}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Chamada').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Chamada').item.json.contato.replaceAll(' ','').replaceAll('-','').replaceAll('+','') }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3696,
        -16
      ],
      "id": "811e3497-1d9d-4e55-aad0-194c018f37b8",
      "name": "Envia mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a4a3b3-68ed-4ec3-b324-ff0140af7ee5",
              "name": "mensagens",
              "value": "={{ $('Formata o texto').item.json.mensagens }}",
              "type": "string"
            },
            {
              "id": "96dc9183-f64f-41fd-8007-aefaa4e46576",
              "name": "numero",
              "value": "={{ $('Extrai dados relevantes').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "afec8db7-fe53-4f68-af16-89cd48ad3c5b",
              "name": "url",
              "value": "={{ $('Extrai dados relevantes').item.json.url }}",
              "type": "string"
            },
            {
              "id": "78ac8549-15c0-4357-a589-ceb7ddf0e1d5",
              "name": "token",
              "value": "={{ $('Extrai dados relevantes').item.json.token }}",
              "type": "string"
            },
            {
              "id": "fcd382ea-1a49-42fb-9a25-69763f664f94",
              "name": "id",
              "value": "={{ $('Extrai dados relevantes').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "ba1e2edc-7897-4b19-8692-2ea64c0e1da0",
              "name": "especialidade",
              "value": "={{ $('Busca dados').item.json.especialidade }}",
              "type": "string"
            },
            {
              "id": "a93a13c9-67d1-4c31-86a4-e0760ca11a93",
              "name": "nome_medico",
              "value": "={{ $('Busca dados').item.json.medico }}",
              "type": "string"
            },
            {
              "id": "7e8d3daf-d763-49f4-a67c-37d3859d2a01",
              "name": "nome_cliente",
              "value": "={{ $('Busca dados').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "ecd217c8-8417-44c3-9d5e-5ac8adc624e8",
              "name": "plano_saude",
              "value": "={{ $('Busca dados').item.json.plano_saude }}",
              "type": "string"
            },
            {
              "id": "5dbf1ec2-6b29-4930-8724-2086215309b7",
              "name": "data",
              "value": "={{ $json.output.toDateTime() }}",
              "type": "string"
            },
            {
              "id": "173768eb-ded2-4ac0-a378-843f790fbd2b",
              "name": "medico_especifico",
              "value": "={{ $('Busca dados').item.json.medico_especifico }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        96
      ],
      "id": "f424f159-54c9-41b5-854d-80d8f9470561",
      "name": "Dados1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária checar todos horários",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Secretária checar todos horários": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Salva conversa stand by",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem1": {
      "main": [
        []
      ]
    },
    "Escapa \\n": {
      "main": [
        []
      ]
    },
    "calculadora1": {
      "ai_tool": [
        [
          {
            "node": "Secretária checar todos horários",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Secretária checar todos horários",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Médico específico?": {
      "main": [
        [
          {
            "node": "Retorna medico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna medicos especialistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna medicos especialistas": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem horários disponíveis": {
      "main": [
        [
          {
            "node": "Tem horário disponível?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem horário disponível?": {
      "main": [
        [
          {
            "node": "Secretária checar todos horários",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Verifica se tem horários disponíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Chama checa calendario restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna medico": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamada": {
      "main": [
        [
          {
            "node": "Médico específico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "369c5727-1251-47f1-9028-9840a7df11ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a70a1343a03530a452f4dec61f49dcb55af90d675b64a06d66352538d4bcf3b4"
  },
  "id": "Ey7BRHQTC0SH6LFh",
  "tags": []
}